<form action='/basichtml/<%=@g.id%>/comments/<%=@edit_comment.id%>/update' >
        
        
        <textarea name='content'><%=@edit_comment.content%></textarea>
        <input type="submit" value="수정하기"><br>
    </form>